main {
    padding-left: 25vw;
}
label {
    width: 8vw;
    display: inline-block;
    margin: 10px auto;
}
input, textarea {
    vertical-align: text-top;
}
.submit-button {
    box-sizing: border-box;
    margin: 20px 8vw;
    width: 90px;
    height: 30px;
}
.text-box {
    width: 20vw;
}
textarea {
    width: 40vw; 
    height: 200px;
}
@media (max-width: 960px) {
    main {
        padding-left: 5vw;
    }
    .text-box {
        width: 90vw;
    }
    textarea {
        display: block;
        width: 90vw;
    }
}