*:focus {
    outline: none;
}
label {
    margin-top: 3px;
    display:inline-block;
    float: left;
    padding:3px;
}
article {
    width: 90vw;
    margin: 50px auto;
    margin-top: 40px;
    position: relative;
}
article .date {
    color: gray;
}
article h1 {
    font-size: 1.6rem;
    margin: 5px auto;
}
.icon-blog {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border: none;
    background-color: none;
    background: 50%/contain no-repeat;
}
.icon-blog.delete {
    right: 0;
    background-image: url('/img/del_blog.png');
}
.icon-blog.edit {
    right: 35px;
    background-image: url('/img/edit_blog.png');
}
.tag {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0 3px;
    font-size: 0.8rem;
    background: hsl(0, 50%, 40%);
    color: white;
}
.between-date-and-tags {
    width: 5px;
    height: 3px; 
    display: block;
}
.tag:hover {
    background: hsl(0, 80%, 40%);
    transition: .5s;
    cursor: pointer;
}
.line-after-header {
    display: block;
    width: 30%;
    height: 2px;
    float: left;
    border: none;
    background: hsl(0, 60%, 50%);
}
article p {
    font-size: 1.1rem;
    margin: 0;
}
#to-authorizate {
    margin-left: 5vw;
    margin-top: 20px;
}
.show-blogs-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    color: blue;
    margin: 20px auto;
}
@media (min-width: 800px) {
    article {
        width: 50%;
    }
    #to-authorizate {
        margin-left: 25vw;
    }
}