article {
    width: 90vw;
    margin: 50px auto;
    margin-top: 40px;
    position: relative;
}
article .date {
    color: gray;
}
.delete_blog {
    height: 20px;
    width: 20px;
    border: none;
    background-color: none;
    background: fixed url('/img/del_blog.svg') 50%/cover no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
article h1 {
    font-size: 1.6rem;
    margin: 5px auto;
}
.tag {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0 3px;
    font-size: 0.8rem;
    background: hsl(0, 50%, 40%);
    color: white;
}
.tag:hover {
    background: hsl(0, 80%, 40%);
    transition: .5s;
    cursor: pointer;
}
.tags {
    margin-left: 10px;
    display: inline-block;
}
.line-after-header {
    display: block;
    width: 30%;
    height: 2px;
    float: left;
    border: none;
    background: hsl(0, 60%, 50%);
}
article p {
    font-size: 1.1rem;
    margin: 0;
}
#to-authorizate {
    margin-left: 5vw;
    margin-top: 20px;
}
@media (min-width: 800px) {
    article {
        width: 50%;
    }
    #to-authorizate {
        margin-left: 25vw;
    }
}