.choose-element {
    height: calc(34vh - 20px);
    margin: 1px 0;
    margin-top: 0;
    background: #CCC;
    line-height: calc(33.33333333333333vh - 20px);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    transition: .3s;
    color: black;
}
.choose-element:hover {
    background: hsl(0, 60%, 50%);
    color: white;
}
.kit {
    margin: 30px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}
.kit img {
    width: 100px;
    margin: 5px auto;
    display: block;
}
.kit .date {
    color: gray;
    text-align: left;
}
.kit .name {
    font-size: 1.1rem;
    text-align: center;
}
.kit .download {
    display: block;
    margin: 8px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
}
.qa-block {
    padding: 25px 30px;
    box-shadow: 1px 1px 4px gray;
    margin: 10px 0;
    position: relative;
}
.qa-block .question {
    font-size: 1.3rem;
    font-weight: bold;
}
.qa-block .date {
    color: gray;
    margin: 10px 0;
}