main {
    text-align: center;
    margin: 20px 5vw;
}
.vacancy {
    width: 240px;
    box-sizing: border-box;
    color: #444;
    padding: 20px;
    box-shadow: 1px 1px 2px;
    min-height: 215px;
    position: relative;
    transition: .5s;
    display: inline-block;
    text-align: left;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: top;
}
.btn {
    background: none;
    border: none;
    color: hsl(240, 100%, 30%);
    display: inline-block;
    margin: auto 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    user-select: none;
    width: 50px;
}
.vacancy .type {
    font-size: 0.9rem;
}
.vacancy .name {
    font-size: 1.6rem;
    font-family: fantasy;
    margin-bottom: 25px;
    min-height: 100px;
}
.vacancy:hover {
    transform: translateY(-10px);
}
@media (min-width: 1130px) {
    main {
        margin: 20px 15vw;
    }
}